.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


img {
  border-radius: 8px;
  width: 250px;
  height: 250px;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.dogs{
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

/* questions: 

- sort and filter both working at the same time
- aggregator button issue
- total not everywhere
- style

- sort only on click
- sort and filter together
- how to get each image a different size
-   general style moving things around
- how to manage favorites

todo"
- change images later

*/

