.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


img {
  border-radius: 8px;
  width: 250px;
  height: 250px;
}

/* questions: 
- how to get each image a different size
-   general style moving things around
- how to filter
- how to manage favorites


todo"
- change images later

*/

